button {
  border: 0px;
  background-color: rgba(220, 20, 60, 0);
}

.delete {
  background-color: rgba(220, 20, 60, 0.589);
  border-radius: 22px;
  margin-left: 1em;
  padding-top: 5px;
}

.edit {
  background-color: rgba(37, 220, 20, 0.589);
  border-radius: 22px;
  margin-left: 1em;
  padding: 5px 5px 5px 5px;
}

@media screen and (max-width: 600px) {
  .delete {
    background-color: rgba(220, 20, 60, 0.589);
    border-radius: 22px;
    margin-left: 1em;
    padding: 0 0 2px 1px;
  }

  .edit {
    background-color: rgba(37, 220, 20, 0.589);
    border-radius: 22px;
    margin-left: 1em;
    padding: 0 0 2px 1px;
  }
}
